.artist-top{
    
}
.artist-top .pfp{
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 225px;
    margin-right: 1rem;
}
.artist-top .info{
    display: inline-block;
    vertical-align: middle;
}
.artist-top .info #name{
    font-size: 2.75rem;
    font-weight: 700;
}
.artist-top .info #links{
    margin: .5rem 0 0 0;
}
@media only screen and (max-width: 1280px){
    .artist-top .info #name{
        font-size: 2.75rem;
    }
}
@media only screen and (max-width: 986px){
    .album-cover{
        max-width: 300px;
    }
}
@media only screen and (max-width: 745px){
    .artist-top .pfp{
        display: block;
        text-align: center;
        margin: 0 auto .5rem auto;
        max-width: 100%;
    }
    .artist-top .info{
        display: block;
        margin: 0 auto 0 auto;
        text-align: center;
    }
}
.oop{
    margin-top: 3rem;
    color: rgba(255,255,255,0.45);
    font-weight: 500;
}