.branding{
    
}
.branding .image{
    display: inline-block;
    vertical-align: top;
/*    max-width: 250px;*/
    margin: 0 8px 10px 0;
    border: 1px solid rgba(255,255,255,0.25);
    padding: 8px;
    border-radius: 5px;
}
.branding .image .info{
    display: block;
    margin-bottom: .5rem;
}
.branding .image .download{
    display: block;
    margin-top: .5rem;
}

/* module */
.album-width{
    max-width: 22%;
}
@media only screen and (max-width: 1199px){
    .album-width{
        max-width: 25%;
    }
}
@media only screen and (max-width: 1024px){
    .album-width{
        max-width: 26%;
    }
}
@media only screen and (max-width: 920px){
    .album-width{
        max-width: 27%;
    }
}
@media only screen and (max-width: 835px){
    .album-width{
        max-width: 28%;
    }
}
@media only screen and (max-width: 765px){
    .album-width{
        max-width: 35%;
    }
}
@media only screen and (max-width: 680px){
    .album-width{
        max-width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .album-width{
        max-width: 42%;
    }
}
@media only screen and (max-width: 501px){
    .album-width{
        max-width: 100%;
    }
}