/* rows */

.col .row{margin-left:-.75rem;margin-right:-.75rem}.row{margin-left:auto;margin-right:auto;margin-bottom:20px}.row:after{content:"";display:table;clear:both}.row .col{float:left;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 .75rem;min-height:1px}.row .col[class*=pull-],.row .col[class*=push-]{position:relative}.row .col.s1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.s4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.s7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.s10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-s1{margin-left:8.3333333333%}.row .col.pull-s1{right:8.3333333333%}.row .col.push-s1{left:8.3333333333%}.row .col.offset-s2{margin-left:16.6666666667%}.row .col.pull-s2{right:16.6666666667%}.row .col.push-s2{left:16.6666666667%}.row .col.offset-s3{margin-left:25%}.row .col.pull-s3{right:25%}.row .col.push-s3{left:25%}.row .col.offset-s4{margin-left:33.3333333333%}.row .col.pull-s4{right:33.3333333333%}.row .col.push-s4{left:33.3333333333%}.row .col.offset-s5{margin-left:41.6666666667%}.row .col.pull-s5{right:41.6666666667%}.row .col.push-s5{left:41.6666666667%}.row .col.offset-s6{margin-left:50%}.row .col.pull-s6{right:50%}.row .col.push-s6{left:50%}.row .col.offset-s7{margin-left:58.3333333333%}.row .col.pull-s7{right:58.3333333333%}.row .col.push-s7{left:58.3333333333%}.row .col.offset-s8{margin-left:66.6666666667%}.row .col.pull-s8{right:66.6666666667%}.row .col.push-s8{left:66.6666666667%}.row .col.offset-s9{margin-left:75%}.row .col.pull-s9{right:75%}.row .col.push-s9{left:75%}.row .col.offset-s10{margin-left:83.3333333333%}.row .col.pull-s10{right:83.3333333333%}.row .col.push-s10{left:83.3333333333%}.row .col.offset-s11{margin-left:91.6666666667%}.row .col.pull-s11{right:91.6666666667%}.row .col.push-s11{left:91.6666666667%}.row .col.offset-s12{margin-left:100%}.row .col.pull-s12{right:100%}.row .col.push-s12{left:100%}@media only screen and (min-width:601px){.row .col.m1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.m4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.m7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.m10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-m1{margin-left:8.3333333333%}.row .col.pull-m1{right:8.3333333333%}.row .col.push-m1{left:8.3333333333%}.row .col.offset-m2{margin-left:16.6666666667%}.row .col.pull-m2{right:16.6666666667%}.row .col.push-m2{left:16.6666666667%}.row .col.offset-m3{margin-left:25%}.row .col.pull-m3{right:25%}.row .col.push-m3{left:25%}.row .col.offset-m4{margin-left:33.3333333333%}.row .col.pull-m4{right:33.3333333333%}.row .col.push-m4{left:33.3333333333%}.row .col.offset-m5{margin-left:41.6666666667%}.row .col.pull-m5{right:41.6666666667%}.row .col.push-m5{left:41.6666666667%}.row .col.offset-m6{margin-left:50%}.row .col.pull-m6{right:50%}.row .col.push-m6{left:50%}.row .col.offset-m7{margin-left:58.3333333333%}.row .col.pull-m7{right:58.3333333333%}.row .col.push-m7{left:58.3333333333%}.row .col.offset-m8{margin-left:66.6666666667%}.row .col.pull-m8{right:66.6666666667%}.row .col.push-m8{left:66.6666666667%}.row .col.offset-m9{margin-left:75%}.row .col.pull-m9{right:75%}.row .col.push-m9{left:75%}.row .col.offset-m10{margin-left:83.3333333333%}.row .col.pull-m10{right:83.3333333333%}.row .col.push-m10{left:83.3333333333%}.row .col.offset-m11{margin-left:91.6666666667%}.row .col.pull-m11{right:91.6666666667%}.row .col.push-m11{left:91.6666666667%}.row .col.offset-m12{margin-left:100%}.row .col.pull-m12{right:100%}.row .col.push-m12{left:100%}}@media only screen and (min-width:993px){.row .col.l1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.l4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.l7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.l10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-l1{margin-left:8.3333333333%}.row .col.pull-l1{right:8.3333333333%}.row .col.push-l1{left:8.3333333333%}.row .col.offset-l2{margin-left:16.6666666667%}.row .col.pull-l2{right:16.6666666667%}.row .col.push-l2{left:16.6666666667%}.row .col.offset-l3{margin-left:25%}.row .col.pull-l3{right:25%}.row .col.push-l3{left:25%}.row .col.offset-l4{margin-left:33.3333333333%}.row .col.pull-l4{right:33.3333333333%}.row .col.push-l4{left:33.3333333333%}.row .col.offset-l5{margin-left:41.6666666667%}.row .col.pull-l5{right:41.6666666667%}.row .col.push-l5{left:41.6666666667%}.row .col.offset-l6{margin-left:50%}.row .col.pull-l6{right:50%}.row .col.push-l6{left:50%}.row .col.offset-l7{margin-left:58.3333333333%}.row .col.pull-l7{right:58.3333333333%}.row .col.push-l7{left:58.3333333333%}.row .col.offset-l8{margin-left:66.6666666667%}.row .col.pull-l8{right:66.6666666667%}.row .col.push-l8{left:66.6666666667%}.row .col.offset-l9{margin-left:75%}.row .col.pull-l9{right:75%}.row .col.push-l9{left:75%}.row .col.offset-l10{margin-left:83.3333333333%}.row .col.pull-l10{right:83.3333333333%}.row .col.push-l10{left:83.3333333333%}.row .col.offset-l11{margin-left:91.6666666667%}.row .col.pull-l11{right:91.6666666667%}.row .col.push-l11{left:91.6666666667%}.row .col.offset-l12{margin-left:100%}.row .col.pull-l12{right:100%}.row .col.push-l12{left:100%}}@media only screen and (min-width:1201px){.row .col.xl1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.xl4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.xl7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.xl10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-xl1{margin-left:8.3333333333%}.row .col.pull-xl1{right:8.3333333333%}.row .col.push-xl1{left:8.3333333333%}.row .col.offset-xl2{margin-left:16.6666666667%}.row .col.pull-xl2{right:16.6666666667%}.row .col.push-xl2{left:16.6666666667%}.row .col.offset-xl3{margin-left:25%}.row .col.pull-xl3{right:25%}.row .col.push-xl3{left:25%}.row .col.offset-xl4{margin-left:33.3333333333%}.row .col.pull-xl4{right:33.3333333333%}.row .col.push-xl4{left:33.3333333333%}.row .col.offset-xl5{margin-left:41.6666666667%}.row .col.pull-xl5{right:41.6666666667%}.row .col.push-xl5{left:41.6666666667%}.row .col.offset-xl6{margin-left:50%}.row .col.pull-xl6{right:50%}.row .col.push-xl6{left:50%}.row .col.offset-xl7{margin-left:58.3333333333%}.row .col.pull-xl7{right:58.3333333333%}.row .col.push-xl7{left:58.3333333333%}.row .col.offset-xl8{margin-left:66.6666666667%}.row .col.pull-xl8{right:66.6666666667%}.row .col.push-xl8{left:66.6666666667%}.row .col.offset-xl9{margin-left:75%}.row .col.pull-xl9{right:75%}.row .col.push-xl9{left:75%}.row .col.offset-xl10{margin-left:83.3333333333%}.row .col.pull-xl10{right:83.3333333333%}.row .col.push-xl10{left:83.3333333333%}.row .col.offset-xl11{margin-left:91.6666666667%}.row .col.pull-xl11{right:91.6666666667%}.row .col.push-xl11{left:91.6666666667%}.row .col.offset-xl12{margin-left:100%}.row .col.pull-xl12{right:100%}.row .col.push-xl12{left:100%}}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #162325;
    color: rgba(255, 255, 255, 0.8);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* container */

.container {
	margin: 0 auto;
	width: calc(100% - 20px);
}

@media only screen and (min-width: 601px) {
	.container {
		width: 96%;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 85%;
	}
}

/* bassics */

h1, h2, h3 {
    color: rgba(255, 255, 255, 0.97);
}

a {
	color: inherit;
	text-decoration: none;
    transition: color 0.15s;
}

img {
	max-width: 100%;
	border: none;
}

/* helpers */

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-grow {
	display: flex;
	flex-grow: 1;
}

.dsp-i {
	display: inline;
}

.dsp-b {
	display: block;
}

.dsp-ib {
	display: inline-block;
}

.rounded {
	border-radius: 8px;
}

.rounded-small {
	border-radius: 6px;
}

.rounded-large {
	border-radius: 12px;
}

.rounded-x-large {
	border-radius: 25px;
}

.shadow {
	box-shadow: 0 0 8px rgba(10, 10, 10, 0.3);
}

/* text helpers */

.title {
    font-size: 2.25rem;
}

.txt-left {
	text-align: left;
}

.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.txt-white {
	color: #fff;
}

.txt-primary {
	color: rgb(255, 214, 31);
}

.txt-space {
	letter-spacing: 0.2rem;
}

.txt-space-small {
	letter-spacing: 0.1rem;
}

.txt-space-large {
	letter-spacing: 0.75rem;
}

.txt-space-x-large {
	letter-spacing: 1rem;
}

.txt-upper {
	text-transform: uppercase;
}

.txt-shadow {
    text-shadow: 1px 1px rgba(40, 40, 40, 0.6);
}

.txt-shadow-spread {
    text-shadow: 0 0 8px rgba(40, 40, 40, 0.38);
}

.txt-nolh {
    line-height: 0;
}

/* navigation */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: transparent;
    color: #fff;
    transition: all 0.2s;
    z-index: 100;
}

.nav.nav-bg {
    background-color: #277480;
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.26);
}

.nav .container {
    display: flex;
    align-items: center;
    min-height: 5.65rem;
    transition: all 0.2s;
}

.nav-bg .container {
    min-height: 4.8rem;
}

.nav .nav-item {
    line-height: 0;
}

.nav .nav-items .nav-item, #mobileNav .nav-items .nav-item {
    display: inline-flex;
    align-items: center;
    line-height: normal;
    color: #fff;
    padding: 0.6rem 1.65rem;
    margin-right: 0.35rem;
    cursor: pointer;
}

.nav .nav-items .nav-item.active, #mobileNav .nav-items .nav-item.active {
    background-color: #fff;
    color: #277480;
    /* 42afbf */
    text-shadow: none;
    box-shadow:  1px 1px 3px rgba(40, 40, 40, 0.25);
    border-radius: 25px;
    transition: all 0.15s;
}

.nav .nav-items .nav-item.active:active {
    background-color: rgb(190, 190, 190);
    box-shadow:  0 0 2px rgba(40, 40, 40, 0.35);
}

.nav.nav-bg .nav-items .nav-item.active {
    box-shadow: none;
}

.nav .nav-item span, #mobileNav .nav-item {
    text-shadow: 1px 1px rgba(40, 40, 40, 0.6);
}

.nav .nav-items .nav-item.active span, .nav.nav-bg .nav-items .nav-item span, .nav.nav-bg .nav-item.icon span {
    text-shadow: none;
}

.nav .logo {
	height: 65px;
	align-self: center;
	-webkit-filter: drop-shadow(1px 1px rgba(40, 40, 40, 0.6));
}

.nav-bg .logo {
    -webkit-filter: none;
}

.nav .nav-item.icon {
    padding: 0.6rem 1.25rem;
}

.nav .nav-item .material-icons {
    line-height: 18px;
}

.nav-height {
    height: 5rem;
}

/* mobile navigation */

.nav #mobileNavBtn {
    display: none;
}

#closeMobileNav {
    display: none;
}

#mobileNav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.56);
}

#mobileNav .nav-items {
	margin-top: 6.5rem;
	margin-right: 0.15rem;
}

#mobileNav .nav-items .nav-item {
    color: white;
	display: block;
	text-align: right;
	margin-bottom: 0.55rem;
}

#mobileNav .nav-items .nav-item.active {
    border-radius: 8px;
}

@media only screen and (max-width: 890px) {
	#desktopNav {
		display: none;
	}

	.nav #mobileNavBtn {
		display: inline-block;
	}
}

/* buttons */

.button {
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 1.5rem;
    background-color: #fff;
    color: #277480;
    font-weight: 500;
    border-radius: 4px;
    box-shadow:  1px 1px 3px rgba(40, 40, 40, 0.25);
    transition: all 0.2s;
}

.button:hover {
    background-color: rgb(235, 235, 235);
    box-shadow:  0 0 4px rgba(40, 40, 40, 0.2);
}

.button:active {
    background-color: rgb(190, 190, 190);
    box-shadow:  0 0 2px rgba(40, 40, 40, 0.35);
}

/* footer */

.footer {
    width: 100%;
    overflow: hidden;
    background-color: #192d30;
    color: rgba(255, 255, 255, 0.52);
}

.footer .container {
    padding: 1.65rem 0;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer .logo {
    height: 36px;
}

.footer .separator {
    color: rgba(255, 255, 255, 0.23);
    margin: 0 8px;
}

.footer .separator {
    margin: 0 6px;
}

.footer .socials a {
    margin-left: .65rem;
}

.footer .socials a .fa {
    font-size: 2.15rem;
}

.footer .legal {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.45);
    font-size: 86%;
}

.footer .legal .container {
    padding: 0.8rem;
}

.footer .copyright {
    color: rgba(255, 255, 255, 0.4);
}

/* artists */

.artists {
	box-sizing: border-box;
}

.artist {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0.5rem;
	background-color: #192729;
	padding: 1.55rem 1.25rem 1.35rem 1.25rem;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.15s;
	margin-right: 0.55rem;
}

.artist:hover {
	background-color: #1d2d30;
}

.pfp {
	border-radius: 50%;
}

.artist .pfp {
	box-shadow: 0 2px 26px rgba(0, 0, 0, 0.6);
	display: block;
	max-height: 185px;
}

@media only screen and (max-width: 993px) {
	.artist .pfp {
		max-height: 170px;
	}
}

@media only screen and (max-width: 923px) {
	.artist .pfp {
		max-height: 165px;
	}
}

@media only screen and (max-width: 699px) {
	.artist .pfp {
		max-height: 150px;
	}
}

@media only screen and (max-width: 632px) {
	.artists {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.artist {
		flex-shrink: 0;
	}

	.artist .pfp {
		max-height: 165px;
	}
}

@media only screen and (max-width: 445px) {
	.artist .pfp {
		max-height: 125px;
	}
}

.artist .name {
	margin: 1rem 0 0 0;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 500;
}
