.hero {
	position: relative;
	/* credit to https://unsplash.com/@black_onion for blue vinyl image */
	background: #275c85 url('../images/blue-record.jpg') no-repeat center center;
	background-size: cover;
	color: white;
	min-height: 100vh;
}
.hero .vertical-center {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hero .title {
	font-size: 3.45rem;
	font-weight: 500;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}
/* main stuffs */
main{
    margin:1.75rem 0 6rem 0;
    min-height: 65vh;
}

/* releases */
.releases{
    overflow-x: scroll;
    white-space: nowrap;
}
.releases .album{
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: .75rem 18px 1.5rem 0;
    -webkit-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
.releases .album:hover .artwork{
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}
.releases .album:focus .artwork,.releases .album:active .artwork{
    -webkit-box-shadow: 0 2px 8px 0 rgba(0,0,0,.35), 0 1px 2px 0 rgba(0,0,0,.25);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.35), 0 1px 2px 0 rgba(0,0,0,.25);
}

.album-width{
    max-width: 18%;
}
@media only screen and (max-width: 1199px){
    .album-width{
        max-width: 22%;
    }
}
@media only screen and (max-width: 1100px){
    .album-width{
        max-width: 24%;
    }
}
@media only screen and (max-width: 1032px){
    .album-width{
        max-width: 25%;
    }
}
@media only screen and (max-width: 920px){
    .album-width{
        max-width: 26%;
    }
}
@media only screen and (max-width: 835px){
    .album-width{
        max-width: 28%;
    }
}
@media only screen and (max-width: 760px){
    .album-width{
        max-width: 30%;
    }
}
@media only screen and (max-width: 720px){
    .album-width{
        max-width: 32%;
    }
}
@media only screen and (max-width: 670px){
    .album-width{
        max-width: 35%;
    }
}
@media only screen and (max-width: 620px){
    .album-width{
        max-width: 38%;
    }
}
@media only screen and (max-width: 600px){
    .album-width{
        max-width: 40%;
    }
}
.releases .artwork{
    width: 100%;
    display: inline-block;
    background-color: #184048;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.25), 0 1px 2px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.25), 0 1px 2px 0 rgba(0,0,0,.15);
    /* smooth */
    -webkit-transition: box-shadow .15s ease-in-out;
    -o-transition: box-shadow .15s ease-in-out;
    transition: box-shadow .15s ease-in-out;
}
.releases .name{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin: .5rem 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.releases .pfp{
    height: 25px;
    width: 25px;
    background: #175762;
    border-radius: 50px;
}
.releases .album-button .button{
    background-color: #185a65;
    -webkit-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
.releases .album-button .button:hover{
    background-color: #1b616d;
}
.releases .album-button .button:focus,.releases .album-button .button:active{
    background-color: #216d7b;
}

/* artists */
.artists .person{
    color: white;
    display: inline-block;
    margin: 0 12px 1rem 0;
}
.artists .person .name{
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    margin: .5rem 0 0 0;
}
.artists .pfp{
    height: 150px;
    width: 150px;
    background: #175762;
    border-radius: 50%;
}