.hero {
    background: #819696 url('../images/bg-blue.jpg') center center no-repeat;
    background-size: cover;
    min-height: 65vh;
}

.hero h1 {
    font-size: 3rem;
    color: #fff;
}

.hero.flex-all-center {
    flex-flow: column;
}
