#songs .song-row:hover{
    position: relative;
}
#songs .song-row:hover .play, #songs .current-song .play{
    display: inline;
    position: absolute;
    margin-top: -13px;
    align-content: center;
    font-size: 1.25rem;
}
#songs .song-row:not(.current-song) .play:hover i{
    color: #dbdbdb;
}
#songs .song-row .play:active i{
    color: #cecece;
}
.current-song .play i{
    color: rgb(66, 175, 191);
}
.current-song.song-row .play:hover i{
    color: rgb(74, 189, 206);
}
#songs .song-row:hover span, .current-song  span{
    display: none;
}
.current-song{
    color: rgb(66, 175, 191);
}
.current-song td a{
    color:rgb(66, 175, 191) !important;
}
/* bottom play nav */
.play-nav{
    display: block;
    position: fixed;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    background-color: var(--navBg);
}
.play-nav .content{
    margin: 1rem 8px;
    text-align: center;
}
.audio-btn{
    vertical-align: middle;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
#timeline{
	width: 100%;
	height: 8px;
    overflow-x: hidden;
	float: left;
	background: rgba(0,0,0,.3);
  
}
#playhead{
	width: 2px;
	height: 8px;
	background: rgba(0, 0, 0,.4);
    overflow-x: hidden;
}