/* main stuffs */
main{
    margin:5.5rem 0 6rem 0;
    min-height: 80vh;
}

/* releases */
.releases{
    
}
.releases .album{
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0 8px 8px 0;
    background-color: #185a65;
    padding: 14px;
    border-radius: 8px;
    -webkit-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
.releases .album:hover{
    background-color: #1b616d;
}
.releases .album:focus,.releases .album:active{
    background-color: #1e6774;
}

.album-width{
    max-width: 22%;
}
@media only screen and (max-width: 1199px){
    .album-width{
        max-width: 25%;
    }
}
@media only screen and (max-width: 1024px){
    .album-width{
        max-width: 26%;
    }
}
@media only screen and (max-width: 920px){
    .album-width{
        max-width: 27%;
    }
}
@media only screen and (max-width: 835px){
    .album-width{
        max-width: 28%;
    }
}
@media only screen and (max-width: 765px){
    .album-width{
        max-width: 35%;
    }
}
@media only screen and (max-width: 680px){
    .album-width{
        max-width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .album-width{
        max-width: 42%;
    }
}
@media only screen and (max-width: 501px){
    .album-width{
        max-width: 100%;
    }
}
.releases .artwork{
    width: 100%;
    min-height: 100px;
    display: inline-block;
    background-color: #184048;
    -webkit-box-shadow: 0 2px 7px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 7px 0 rgba(0,0,0,.3), 0 1px 2px 0 rgba(0,0,0,.2);
}
.releases .name{
    color: white;
    font-weight: 500;
    font-size: 1rem;
    margin: .5rem 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.releases .pfp{
    height: 25px;
    width: 25px;
    background: #175762;
    border-radius: 50px;
}
.releases .album-button{
    margin-right: .75rem;
}
.releases .album-button .button{
    background-color: #185a65;
    -webkit-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
.releases .album-button .button:hover{
    background-color: #1b616d;
}
.releases .album-button .button:focus,.releases .album-button .button:active{
    background-color: #175762;
}


/*
 artists 
.artists .person{
    color: white;
    display: inline-block;
    margin: 0 12px 1rem 0;
}
.artists .person .name{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin: .5rem 0 0 0;
}
.artists .pfp{
    height: 150px;
    width: 150px;
    background: #175762;
    border-radius: 50%;
}*/
