.top-bar{
    display: flex;
    align-items: center;
}
.top-bar .side{
    display: inline-block;
    vertical-align: middle;
}
#view-option{
    cursor: pointer;
    padding: 2px;
    color: rgba(255,255,255,0.35);
    -webkit-transition: color .15s ease-in-out;
    -o-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}
#view-option:hover{
    color: rgba(255,255,255,0.45);
}
#view-option:active,#view-option:focus{
    color: rgba(255,255,255,0.55);
}


/* main stuffs */
main{
    margin: 3.5rem 0 7.5rem 0;
}


/* releases */
.releases{
    
}
/* module */
.releases.view_module .album{
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin: 0 8px 8px 0;
    background-color: #185a65;
    padding: 14px;
    border-radius: 8px;
}
/* list */
.releases.view_list .album{
    display: block;
    padding: 6px;
    margin: 0 0 2px 0;
    border-radius: 2px;
}
.releases .album{
    color: white;
    background-color: #185a65;
    -webkit-transition: background-color .15s ease-in-out;
    -o-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}
.releases .album:hover{
    background-color: #1b616d;
}
.releases .album:focus,.releases .album:active{
    background-color: #1e6774;
}
/* module */
.view_module .album-width{
    max-width: 22%;
}
@media only screen and (max-width: 1199px){
    .view_module .album-width{
        max-width: 25%;
    }
}
@media only screen and (max-width: 1024px){
    .view_module .album-width{
        max-width: 26%;
    }
}
@media only screen and (max-width: 920px){
    .view_module .album-width{
        max-width: 27%;
    }
}
@media only screen and (max-width: 835px){
    .view_module .album-width{
        max-width: 28%;
    }
}
@media only screen and (max-width: 765px){
    .view_module .album-width{
        max-width: 35%;
    }
}
@media only screen and (max-width: 680px){
    .view_module .album-width{
        max-width: 40%;
    }
}
@media only screen and (max-width: 600px){
    .view_module .album-width{
        max-width: 42%;
    }
}
@media only screen and (max-width: 501px){
    .view_module .album-width{
        max-width: 100%;
    }
}
/* module */
.releases.view_module .artwork{
    width: 100%;
    display: inline-block;
}
/* list */
.releases.view_list .artwork{
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    margin-right: 4px;
}
.releases .artwork{
    background-color: #184048;
}
/* module */
.releases.view_module .name{
    margin: .5rem 0 0 0;
}
/* list */
.releases.view_list .name{
    display: inline-block;
    vertical-align: middle;
}
.releases .name{
    color: white;
    font-weight: 600;
    font-size: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* module */
.releases.view_module .year{
    margin-top: .5rem;
}
/* list */
.releases.view_list .year{
    margin-top: .25rem;
}
.releases .year{
    color: rgba(255,255,255,0.5);
    font-weight: 400;
}


/*
 artists 
.artists .person{
    color: white;
    display: inline-block;
    margin: 0 12px 1rem 0;
}
.artists .person .name{
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    margin: .5rem 0 0 0;
}
.artists .pfp{
    height: 150px;
    width: 150px;
    background: #175762;
    border-radius: 50%;
}*/
